$break-point-768: 768px;

$break-point-991: 991px;

$color-gray-light: #8c8c8c;

$color-text-primary-gray: #7A7A7A;

$color-text-primary-green: #84B82A;

$color-navigation-bar: #404040;

$color-white: white;

$color-black: black;

$color-purple: #675190;

$color-pink: #aa2755;

$color-blue: #2c8fbd;
