@import './core/variables';
@import './core/mixins/header';
@import './core/mixins/displayFlex';
@import './core/mixins/bgIcon';

.container {
    height: 100%;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: relative;

    &-arrow-right {
        @include bgIcon('arrowRightBig.png', 30px, 50px);
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &-arrow-left {
        @include bgIcon('arrowLeftBig.png', 30px, 50px);
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.header-name {
    @include componentHeader();
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.header-desc {
    @include componentHeaderSecondary();
}

.footer {
    @include displayFlex(space-between, stretch, row);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgb(0, 0, 0, .3);
    padding: 1rem 0;
}

.movie {
    padding: 0 1rem;

    &-title {
        font-size: 1.5rem;
        color: $color-white;
        font-weight: 400;
    }

    &-category {
        text-transform: uppercase;
        font-weight: 900;
        color: $color-text-primary-green;
        display: inline-block;

        &-info {
            &:not(:last-of-type):after {
                content: ' - ';
            }
        }
    }

    &-price {
        display: inline-block;
        color: $color-blue;
        font-weight: 900;
        margin-left: 1rem;
    }
}

.watch {
    @include displayFlex(center, center, column);
    color: $color-white;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    border-left: 1px solid $color-gray-light;

    &-number {
        font-size: 1.2rem;
        font-weight: 900;
    }

    &-icon {
        background: url('../../assets/icons/people.png') no-repeat;
        width: 1.5rem;
        height: 1.5rem;
    }
}