<div class="container" *ngIf="!loading">
    <div class="img" [ngStyle]="{'background': getUrl(movie.url)}">
        <span class="img-arrow-right" (click)="changeContent('up')"></span>
        <span class="img-arrow-left" (click)="changeContent('down')"></span>
    </div>
        <div class="header-name">
            vod
            <div class="header-desc">
                video na żądanie
            </div>
        </div>
        
        <div class="footer">
        
            <div class="movie">
                <div class="movie-title">
                    {{movie.title}} <br> {{movie.subtitle}}
                </div>
                <div class="movie-category">
                    <span class="movie-category-info" *ngFor="let item of movie.category">{{item}} </span>
                </div>
                <div class="movie-price">
                    {{movie.price}}
                </div>
            </div>
        
            <div class="watch">
                <div class="watch-desc">
                    film <br> obejrzy
                </div>
                <div class="watch-number">
                    {{movie.numberWatched}}
                </div>
                <span class="watch-icon"></span>
            </div>
        </div>
    </div>