<div class="container">
    <div class="img"></div>
    <div class="header-name">
        vod
        <div class="header-desc">
            video na żądanie
        </div>
    </div>

    <div class="footer">

        <div class="movie">
            <div class="movie-title">
                Kapitan Amerika: <br> Zimowy żołnierz
            </div>
            <div class="movie-category">
                nowość - akcja
            </div>
            <div class="movie-price">
                14,00 zł
            </div>
        </div>

        <div class="watch">
            <div class="watch-desc">
                film <br> obejrzy
            </div>
            <div class="watch-number">
                125
            </div>
            <span class="watch-icon"></span>
        </div>
    </div>
</div>