@import './core/variables';
@import './core/mixins/header';
@import './core/mixins/displayFlex';
@import './core/mixins/bgIcon';

.container {
    @include displayFlex();
    background: $color-navigation-bar;
    margin-top: 2rem;

    @media (max-width: $break-point-768) {
        flex-direction: column;   
    }
}

.info {
    &-sales {
        width: 66%;
        @include displayFlex(flex-start, stretch, column);
        padding: 1rem;

        @media (max-width: $break-point-768) {
            width: 100%;
            padding: 0;  
        }

        &-header {
            @include displayFlex(space-between, center, row);


            &-app {
                &-name {
                    @include componentHeaderSecondary();
                }

                &-ad {
                    padding-left: 5rem;

                    &-small {
                        @include componentHeaderSecondary($color-purple);
                        margin-bottom: 0;
                    }

                    &-big {
                        @include componentHeader($color-purple);
                        position: relative;

                        &::before {
                            content: '';
                            display: inline-block;
                            @include bgIcon('tablet.png', 5rem, 3rem);
                            position: absolute;
                            left: -5rem;
                            bottom: 0;
                          }
                    }
                }
            }

            &-contact {

                text-align: right;

                &-helpline {
                    @include componentHeaderSecondary();

                    &-option {
                        @include componentHeaderSecondary($color-text-primary-green);
                        margin-bottom: 0;

                    }

                    &-number {
                        @include componentHeader($color-text-primary-green);
                        position: relative;

                        &::before {
                            content: '';
                            display: inline-block;
                            @include bgIcon('mobileGreen.png', 2rem, 1.7rem);
                          }

                          &::after {
                            content: '';
                            display: inline-block;
                            @include bgIcon('phoneBig.png', 2rem, 1.7rem);
                            position: absolute;
                            left: -2.5rem;
                            bottom: .3rem;
                          }
                    }

                    &-aware {
                        @include componentHeaderSecondary();
                        font-size: .7rem;
                        text-transform: lowercase;
                    }
                }

            }
        }

        &-footer {
            @include displayFlex(space-between, center, row);

            padding: 2rem 0;
            border-top: 1px solid $color-gray-light;

            &-buttons {
                @include componentHeaderSecondary();

                a {
                    padding: 0 1rem;
                    cursor: pointer;
                }
            }

            &-icons {
                @include displayFlex(space-between, stretch, row);
                width: 120px;

                &-facebook {
                    @include bgIcon('facebook.png', 40px, 40px);
                }

                &-twitter {
                    @include bgIcon('twitter.png', 40px, 40px);
                }

                &-youtube {
                    @include bgIcon('youtube.png', 40px, 40px);                    
                }
            }
        }
    }

    &-clients {
        width: 33%;
        padding: 1rem;
        text-align: right;

        @media (max-width: $break-point-768) {
            width: 100%;    
            padding: 0;   
        }

        &-header {
            @include componentHeaderSecondary();
        }

        &-call {
            @include componentHeaderSecondary($color-text-primary-green);
        }

        &-number {
            @include componentHeader($color-text-primary-green);

            &::before {
                content: '';
                display: inline-block;
                @include bgIcon('phoneBig.png', 2rem, 1.7rem);
              }
        }

        &-mobile-phone {
            @include componentHeaderSecondary();

            &-number {
                @include componentHeaderSecondary($color-text-primary-green);
            }
        }

        &-aware {
            @include componentHeaderSecondary();
        }
    }
}
