<div class="container">
    <div class="info-sales">
        <div class="info-sales-header">
            <div class="info-sales-header-app">
                <div class="info-sales-header-app-name">aplikacja vectra</div>
                <div class="info-sales-header-app-ad">
                    <p class="info-sales-header-app-ad-small">pobierz</p>
                    <p class="info-sales-header-app-ad-big">aplikacje</p>
                </div>
            </div>
            <div class="info-sales-header-contact">
                <p class="info-sales-header-contact-helpline">infolinia sprzedażowa</p>
                <p class="info-sales-header-contact-helpline-option">zadzwoń lub wyślij sms</p>
                <p class="info-sales-header-contact-helpline-number">601 601 601</p>
                <p class="info-sales-header-contact-helpline-aware">(wg stawek operatorów)</p>
            </div>
        </div>
        <div class="info-sales-footer">
            <div class="info-sales-footer-buttons">
                <a>o nas</a>
                <a>kontakt</a>
                <a>kariera</a>
                <a>dla mediów</a>
            </div>
            <div class="info-sales-footer-icons">
                <span class="info-sales-footer-icons-icon info-sales-footer-icons-facebook"></span>
                <span class="info-sales-footer-icons-icon info-sales-footer-icons-twitter"></span>
                <span class="info-sales-footer-icons-icon info-sales-footer-icons-youtube"></span>
            </div>
        </div>
    </div>

    <div class="info-clients">
        <p class="info-clients-header">centrum obsługi klienta</p>
        <p class="info-clients-call">zadzwoń</p>
        <p class="info-clients-number">800 080 800</p>
        <p class="info-clients-mobile-phone">z telefonu komórkowego</p>
        <p class="info-clients-mobile-phone-number">58 500 65 00</p>
        <p class="info-clients-aware">(wg stawek operatorów)</p>
    </div>
</div>