<div class="container">
    <div class="item item-lte">
        <h1 class="item-lte-header">pakiet 20 gb lte</h1>
        <span class="item-lte-header-badge">promocja</span>

        <p class="item-lte-desc">
            Dla tych, którzy nie wyobrażają sobie życia bez internetu:
        </p>

        <ul>
            <li>oglądaj filmy umieszczone w sieci</li>
            <li>ściągaj duże pliki</li>
            <li>korzystaj z poczty, komunikatora</li>
            <li>sufruj swobodnie</li>
        </ul>

        <div class="item-lte-footer">
            <span class="item-lte-footer-name">swoboda i mobilność za</span>
            <span class="item-lte-footer-price">50</span>
            <span class="item-lte-footer-price-currency">zł</span>
        </div>
    </div>

    <div class="item item-support">
        <div class="item-support-background"></div>
        <h1 class="item-support-header">nasz support</h1>
        <span class="item-support-header-badge">propozycje naszego tv-maniaka na weekend</span>

        <div class="item-support-content">
            <div class="item-support-content-icon"></div>

            <div class="item-support-content-container">
                <div class="item-support-content-container-desc">
                        <span class="item-support-content-container-desc-wrapper">
                            zobacz co kuba 
                            znalazł ciekawego
                            w tv na weekend 
                        </span>
                        <span class="item-support-content-container-desc--one" (click)="clickOnArrow()"></span>
                </div>
                <div class="item-support-content-container-desc">
                    <span class="item-support-content-container-desc-wrapper">
                        podyskutuj z nim
                        o filmach już 
                        w piątek 15.09.2014
                    </span>
                    <span class="item-support-content-container-desc--two" (click)="clickOnMessages()"></span>
                </div>
            </div>
            <div class="item-support-footer">
                    Zostań naszym ekspertem i poprowadź 
                    przedweekendowy chat z użytkownikami
            </div>
        </div>
    </div>

    <div class="item item-app">
        <h1 class="item-app-header">
            aplikacja
        </h1>
        <p class="item-app-desc">
            Lorem ipsum dolor sit amet enim. Etiam 
            ullamcorper. Suspendisse a pellentesque 
            dui, non felis.
        </p>

        <div class="item-app-icons">
            <span class="item-app-icons-android"></span>
            <span class="item-app-icons-apple"></span>
            <span class="item-app-icons-windows"></span>
        </div>

        <div class="item-app-background"></div>
    </div>
</div>