@import './core/variables';

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.layer {
    &-one {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
    }

    &-two {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 0;
    }
}

h1 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 3;
    color: $color-white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.offer-info {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 3;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;

    &-header {
        font-size: 2.5rem;
    }

    &-desc {
        font-size: 2.5rem;
        font-weight: 300;
        position: relative;

        &-hbo {
            font-weight: bold;
            color: $color-purple;

            &-go {
                font-weight: 300;
            }
        }

        &-small {
            font-size: 1.8rem;
        }
    }

    &-price {
        position: absolute;
        bottom: -1rem; 
        right: -2rem;
        font-size: 7rem;
        font-weight: 900;
        color: $color-pink;


        &-currency {
            font-size: 2rem;
        }
    }

    @media (max-width: $break-point-768) {
        top: 20rem;
    }
}