<div class="container">
    <img src="../../assets/icons/specialOfferLayerOne.png" class="layer-one">
    <img src="../../assets/icons/specialOfferLayerTwo.png" class="layer-two">
    <h1>Zyskaj więcej</h1>
    <div class="offer-info">
        <div class="offer-info-icons">
            <span class="offer-info-icons-border">
                <span class="offer-info-icons-mouse"></span>
            </span>
            <span class="offer-info-icons-plus"></span>
            <span class="offer-info-icons-border">
                <span class="offer-info-icons-gift"></span>
            </span>
        </div>
        <div class="offer-info-header">
            Kup internet,
        </div>
        <div class="offer-info-desc">
            A <span class="offer-info-desc-hbo">hbo<span class="offer-info-desc-hbo-go">go</span></span> 
            <br>
            <span class="offer-info-desc-small">dostaniesz za</span>
            <div class="offer-info-price">
                1<span class="offer-info-price-currency">zł</span>
            </div>
        </div>
    </div>
    <span class="dots-icon"></span>
</div>