@import "../typography";
@import "../variables";


html, body {
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;

    // @media (max-width: $break-point-768) {
    //     font-size: 14px;
    // }
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

