@import "../colors";
@import "../typography";
@import "../variables";


html, body {
    height: 100%;
    font-size: 16px;

    // @media (max-width: $break-point-991) {
    //     font-size: 10px;
    // }

    // @media (max-width: $break-point-768) {
    //     font-size: 8px;
    // }
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

