<div class="container">
    <div class="header-container">
        <div class="header-tilte">
            teraz <br> w tv online
        </div>
        <div class="header-watch">
                <div class="header-watch-desc">
                    teraz <br> ogląda
                </div>
                <div class="header-watch-number">
                    258
                </div>
                <span class="header-watch-icon"></span>
            </div>
    </div>

    <div class="movie"></div>
</div>