@import './core/variables';
@import './core/mixins/header';
@import './core/mixins/displayFlex';
@import './core/mixins/bgIcon';

.container {
    min-height: 400px;
    width: 100%;
    background: $color-purple;
    color: $color-white;
    text-transform: uppercase;
}

.header {
    @include componentHeader();
    padding: 1rem 1rem 0;
}

.info {
    @include componentHeaderSecondary();

    &:not(:last-of-type):after {
        content: ' - ';
    }

    &:first-of-type {
        padding-left: 1rem;
    }
}

.packages {
    @include displayFlex(space-between, stretch, row);

    padding: 1rem;
    min-height: 10rem;
    margin-top: 1rem;

    @media (max-width: $break-point-768) {
        flex-direction: column;        
    }

    &-item {
        min-width: 10rem;
        font-size: .9rem;
        text-align: center;
        
        @media (max-width: $break-point-768) {
            padding: 1rem;      
        }

        &-logo {
            width: 115px;
            height: 100px;
            background-size: cover !important;
            display: inline-block;
            position: relative;
        }

        &-choose {
            font-weight: 300;
        }
        
        &-desc {
            font-weight: 900;
        }        
    }
}

.plus {
    position: absolute;
    right: -5.5rem;
    top: 3.5rem;
    @include bgIcon('plusIcon.png', 1.5rem, 1.5rem);

    @media (max-width: $break-point-768) {
        display: none;          
    }
}

.buttons-container {
    text-align: center;
    padding: 2rem;
}

.btn-first {
    display: inline-block;
    font-size: 1.5rem;
    width: 70%;
    padding: 1.2rem;
    background: $button-color;
    color: $color-white;
    outline: none;
    border: 1px solid $color-white;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;

    &:hover {
        color: $button-color;
        background: $color-white;
        border: 1px solid $button-color;
    }
}

.btn-secound {
    display: block;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
}
