<app-main-nav>
  <div class="container">
    <div class="container-components">
      <div class="container-components-two">
        <app-special-offer></app-special-offer>
      </div>
      <div class="container-components-one">
        <app-vod></app-vod>
      </div>
    </div>

    <div class="container-components">
        <div class="container-components-two">
          <app-packages></app-packages>
        </div>
        <div class="container-components-one move-down-on-mobile">
          <app-now-in-tv></app-now-in-tv>
        </div>
      </div>
  </div>
</app-main-nav>