@import "./core/variables";

.container {
    width: 80%;
    margin: 0 auto;

    @media (max-width: $break-point-768) {
        width: 100%;
    }

    &-components {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // justify-content: space-between;

        @media (max-width: $break-point-768) {
            flex-direction: column;
        }

        &-one {
            width: 33%;
            height: 500px;

            @media (max-width: $break-point-768) {
                width: 100%;
            }
        }

        &-two {
            width: 66%;
            height: 500px;

            @media (max-width: $break-point-768) {
                width: 100%;
            }
        }
    }
}

.move-down-on-mobile {
    margin-top: 0;

    @media (max-width: $break-point-768) {
        margin-top: 600px;
    } 
}
