@import "./core/variables";
@import './core/mixins/displayFlex';

.container {
    width: 80%;
    margin: 0 auto;

    @media (max-width: $break-point-768) {
        width: 100%;
    }

    &-components {
        @include displayFlex(center, stretch, row);

        @media (max-width: $break-point-768) {
            flex-direction: column;
        }

        &-one {
            width: 33%;
            height: 31.25rem;

            @media (max-width: $break-point-768) {
                width: 100%;
            }
        }

        &-two {
            width: 67%;
            height: 31.25rem;

            @media (max-width: $break-point-768) {
                width: 100%;
            }
        }
    }
}

.move-down-on-mobile {
    margin-top: 0;

    @media (max-width: $break-point-768) {
        margin-top: 37.5rem;
    } 
}
