@import './core/variables';
@import './core/mixins/header';
@import './core/mixins/displayFlex';
@import './core/mixins/bgIcon';

.container {

  @include displayFlex(space-between, stretch, row);
    
    min-height: 350px;

    @media (max-width: $break-point-768) {
        flex-direction: column;
    }
}

.item {
    width: 33%;

    @media (max-width: $break-point-768) {
        width: 100%;    
        min-height: 300px;    
    }

    &-lte {
       background: $color-navigation-bar;
        color: $color-white;
        padding: 1rem;
        position: relative;

        @media (max-width: $break-point-768) {
            padding: 0;   
        }

        &-header {
            @include componentHeader($color-text-primary-green);

            &-badge {
                @include componentHeaderSecondary($color-purple);
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding-left: 1rem; 
              }
            
            li::before {
                content: "• ";
                color: $color-text-primary-green;
                margin-right: .5rem;
              }
        }

        &-footer {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            font-weight: 900;

            &-name {
                text-transform: uppercase;
                color: $color-text-primary-green;
            }

            &-price {
                font-size: 3rem;
                color: $color-purple;
                
                &-currency {
                    font-size: 1rem;
                    color: $color-purple;
                }
            }
        }
    }

    &-support {
        position: relative;

        &-background {
            @include bgIcon('supportBackground.png', 100%, 350px);
            background-size: cover;
            position: absolute;
            z-index: -1;
        }

        &-header {
            @include componentHeader();
            padding: 1rem 1rem 0;

            &-badge {
                @include componentHeaderSecondary($color-text-primary-green);
                padding-left: 1rem
            }
        }

        &-content {
            @include displayFlex(center, center, row);
            padding: 2rem 1rem;

            @media (max-width: $break-point-768) {
                padding: 0;   
            }

            &-icon {
                @include bgIcon('face.png', 110px, 110px);
                padding: 0 1rem;
            }

            &-container {

                @include displayFlex(flex-start, stretch, column);


                &-desc {
                    @include componentHeaderSecondary();
                    padding: .5rem;

                     @include displayFlex(center, center, row);


                    &-wrapper {
                        width: 200px;
                    }

                    &--one {
                        @include bgIcon('arrow.png', 50px, 50px);
                        cursor: pointer;
                    }

                    &--two {
                        @include bgIcon('messages.png', 50px, 50px);
                        cursor: pointer;
                    }
                }
            }
        }

        &-footer {
            position: absolute;
            text-align: center;
            left: 1rem;
            bottom: 1rem;
            @include componentHeaderSecondary($color-text-primary-green);
        }
    }

    &-app {
        background: $color-white;
        padding: 1rem;
        position: relative;

        @media (max-width: $break-point-768) {
            padding: 0;   
        }

        &-header {
            @include componentHeader($color-purple);
        }

        &-desc {
            @include componentHeaderSecondary($color-black);
            text-transform: capitalize;
        }

        &-background {
            @include bgIcon('appCompBackground.png', 320px, 200px);
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &-icons {
            @include displayFlex(space-between, center, row);
            width: 40%;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            z-index: 1;
    
            &-android {
                @include bgIcon('android.png', 25px, 30px);
            }
    
            &-apple {
                @include bgIcon('apple.png', 25px, 30px);
            }
    
            &-windows {
                @include bgIcon('windows.png', 25px, 30px);
            }
        }
    }
}
