@import "./core/variables";
@import './core/mixins/header';
@import './core/mixins/displayFlex';
@import './core/mixins/bgIcon';

.sidenav-container {
  height: 100%;
  background-color: $color-black;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
  background: $color-navigation-bar;
  height: 5rem;
}

.menu {
  @include displayFlex(center, center, row);
  background: $color-gray-light;
  height: 100%;
  width: 5rem;

  &-btn {
    width: 100%;
    height: 100%;
  }
}

.nav-container {
  @include displayFlex(space-between, flex-start, row);
}

.info {
  &-container {
    padding-top: .8rem;
    margin: 0 1rem;

    @media (max-width: $break-point-768) {
      display: none;          
    }
  }

  &-name {
    color: $color-text-primary-gray;
    font-size: .9rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &-phone {
    color: $color-text-primary-green;
    margin-right: 2rem;

    &::before {
      content: '';
      display: inline-block;
      @include bgIcon('phone.png', 1rem, 1rem);
      margin-right: .5rem;
    }
  }

  &-search {
        outline: none;
        font-size: .9rem;
        height: .9rem;
        width: 6rem;
        background: inherit;
        cursor: pointer;
        border: none;
        color: $color-white;
        margin-right: .5rem;
    
        background: url('../../../assets/icons/search.png') no-repeat;
        padding-left: 1.5rem;
        background-size: 1rem;
  
        &::placeholder {
          color: $color-text-primary-gray;
        }
  }

  &-btn {
    text-transform: uppercase;
    font-size: .9rem;
    color: $color-gray-light;
    cursor: pointer;
    
    &-icon {
      background: url('../../../assets/icons/user.png') no-repeat;
      padding-left: 1.5rem;
      background-size: .9rem;
    }
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0;
  height: .5rem;
}
