@import './core/variables';
@import './core/mixins/header';
@import './core/mixins/displayFlex';
@import './core/mixins/bgIcon';
@import './core/mixins/arrowPosition';

.container {
    height: 100%;
}

.header {
    &-container {
        @include displayFlex(space-between, stretch, row);
        padding: 1rem 0 1rem 1rem;
        background: $color-text-primary-green;
    }

    &-tilte {
        @include componentHeader();
    }

    &-watch {
        @include displayFlex(center, center, column);

        color: $color-white;
        width: 9.375rem;
        text-align: center;
        text-transform: uppercase;
        border-left: 1px solid $color-gray-light;
    
        &-number {
            font-size: 1.2rem;
            font-weight: 900;
        }
    
        &-icon {
            @include bgIcon('people.png', 1.5rem, 1.5rem);
        }
    }
}

.movie {
    width: 100%;
    height: 22.3rem;
    background-size: cover !important;
    position: relative;

    &-desc {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        background: $background-opacity;
        padding: 1rem 0;

        &-title {
            @include componentHeader();
            text-transform: capitalize;
            font-size: 1.5rem;

        }

        &-chanel {
            @include componentHeaderSecondary($color-text-primary-green);
            margin: 0;
        }
    }

    &-arrow-right {
        @include bgIcon('arrowRightBig.png', 30px, 50px);
        @include arrowPosition();
        right: 1rem;
    }

    &-arrow-left {
        @include bgIcon('arrowLeftBig.png', 30px, 50px);
        @include arrowPosition();
        left: 1rem;
    }

    &-play-icon {
        @include bgIcon('play.png', 35px, 35px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}
